@model OIDBMVCWEBSITE.Models.PasswordChangeModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Change Password</h4>
        </div>
        @using (Html.BeginForm("UserChangePassword", "Users", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
        {
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                           
                           @Html.HiddenFor(model=>model. UserID, new { Value = ViewBag.Id })
                            @Html.LabelFor(model => model.NewPassword)
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword)
                            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" value="Create" class="btn btn-success" id="btnSubmit" />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        }
    </div>
</div>